{% extends 'base.html' %}
{% load i18n %}
{% block title %}User Group Connect{% endblock %}
{% block content %}
<h2>User Groups</h2>
<h3>Setup time</h3>
<p>
You can have access to the hall at 9:00 am.  The public will
have access from 10:00 am.
</p>
<h3>Why you should come to User Group Connect</h3>
<ul>
  <li>Show your flag! Let people know about your events</li>
  <li>New people will find out about you and go to your meetings</li>
  <li>Find new people who might speak at your meetings</li>
  <li>Find other groups that are similar to yours. Example:
    <ul>
      <li>Agile Ottawa and SCRUM user groups share a Christmas meeting</li>
      <li>They also share (a few) members and speakers</li>
    </ul>
  </li>
</ul>
<h3>List of confirmed user groups</h3>
<ul class="confirmed-usergroups">
  {% for ug in ugs %}
  <li><a href="{{ ug.organization.linkurl }}"><img src="{{ ug.organization.logo.url }}" alt="ug logo" /></a>  <a href="{{ ug.organization.linkurl }}">{{ ug.organization.name }}</a></li>
  {% endfor %}
</ul>
<h3>Suggestions for what to present</h3>
<div class="base">
  <ul>
    <li>bring a demonstration of what you do (eg robotics) and have someone working on it and explaining it</li>
    <li>if the topic you're interested in can be found in everyday life, bring some examples (eg, Linux in Samsung TVs, ham radio used in real life emergencies)</li>
    <li>give a talk on a related topic (possibly by an invited famous speaker)</li>
    <li>give away CD's or other material to promote your group</li>
    <li>be sure to have handouts or business cards with your meeting
      times and locations</li>
    <li>other handouts like CDs with software or pictures/video,
      or stickers is sure to be well-received (and remembered and passed on)
      by visitors</li>
  </ul>
</div>
<h3>Register as a User Group</h3>
<form class="exhibitor-form" id="exhibitor-form" name="exhibitor-form"
      action="{% url exhibitors %}" method="post">

  {% include "_org_form.html" %}

</form>
{% endblock %}
