{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h2>User Groups</h2>
<h3>Setup time</h3>
<p>
You can have access to the hall at 9:00 am.  The public will
have access from 10:00 am.
</p>
<h3>Why you should come to User Group Connect</h3>
<ul>
<li>Show your flag! Let people know about your events</li>
<li>New people will find out about you and go to your meetings</li>
<li>Find new people who might speak at your meetings</li>
<li>Find other groups that are similar to yours. Example:
  <ul>
    <li>Agile Ottawa and SCRUM users group share a Christmas meeting</li>
    <li>They also share (a few) members and speakers</li>
  </ul>
</ul>
<h3>List of confirmed user groups</h3>
<ul>
  {% for ug in ugs %}
  <li>{{ ug.organization.name }}</li>
  {% endfor %}
</ul>
<h3>Suggestions for what to present</h3>
<div class="base">
  <ul>
    <li>bring a demonstration of what you do (eg robotics) and have someone working on it and explaining it</li>
    <li>if the topic you're interested in can be found in everyday life, bring some examples (eg, Linux in Samsung TVs, ham radio used in real life emergencies)</li>
    <li>give a talk on a related topic (possibly by an invited famous speaker)</li>
    <li>give away CD's or other material to promote your group</li>
    <li>be sure to have handouts or business cards with your meeting
      times and locations</li>
    <li>other handouts like CDs with software or pictures/video,
      or stickers is sure to be well-received (and remembered and passed on)
      by visitors</li>
  </ul>
</div>
<!-- h3>Register</h3>
<form>
  <label for="name">Organization name:</label>
  <input type="text" placeholder="organization name" id="id_name" name="name" />
  <br />
  <label>Organization type:</label>
  <select>
    <option value="0">--Select one--</option>
    <option value="1">User group/club</option>
    <option value="2">Company</option>
    <option value="3">Sponsor</option>
    <option value="4">Other</option>
  </select>
  <br />
  <label for="numtables">Number of tables requested</label>
  <input type="text" placeholder="num tables?" id="id_numtables" name="numtables" />
  <input type="Submit" value="Submit"></input>
</form -->
{% endblock %}
