{% extends 'base.html' %}
{% load i18n %}

{% block title %}User Group Connect{% endblock %}
{% block content %}
<p id="intro-paragraph">
Here is a list of all the technical user groups we know about in Ottawa.
</p>

<div id="form_element">
  <form method="post" action="." name="filter_by_weekday" id="filter_by_weekday_id">
    {% csrf_token %}
    <h4>Filters:</h4>
    <div id="the_inputs">
      date:
      {{ form.day_of_week }}
      week of month:
      {{ form.week_of_month }}
    </div>
    <!-- div class="clearfloat"></div -->

    <input type="submit" value="Filter" />
  </form>
</div>
<dl class="allgroups">
  {% for ug in the_ugs %}
  <dt class="{% cycle 'odd' 'even' as rowcolor %}" title="{{ ug.meeting_time_as_string }} / {{ ug.meeting_location_as_string }}">
    <a href="{% url group ug.id %}">{{ ug.name }}</a>
  </dt>
  <dd class="{{ rowcolor }}">
    {% if ug.url_string %}
    <a href="{{ ug.url_string }}" target="_blank">
      {{ ug.url_string }}
    </a>
    {% endif %}
  </dd>
  {% endfor %}
</dl>

{% endblock %}
