{% extends 'base.html' %}
{% load i18n %}

{% block title %}User Group Connect{% endblock %}
{% block content %}
<p id="intro-paragraph">
Here is a list of all the technical user groups we know about in Ottawa.
</p>
<div class="takenote">
See <a href="{% url exhibitors %}">User Groups</a> for a list of Ottawa User Groups who will be represented at the event.</div>

<div id="form_element">
  <form method="post" action="." name="filter_by_weekday" id="filter_by_weekday_id">
    {% csrf_token %}
    <h4 class="form-header">Filters:</h4>
    <div class="day-input">
      day:
      {{ form.day_of_week }}
    </div>
    <div class="week-input">
      week of month:
      {{ form.week_of_month }}
    </div>

    <input type="submit" value="Filter" class="submit-button" />
    <div class="clearfloatleft"></div>
  </form>
</div>
<ul class="allgroups">
  {% for ug in the_ugs %}
  <li class="{% cycle 'odd' 'even' as rowcolor %}" title="{{ ug.meeting_time_as_string }} / {{ ug.meeting_location_as_string }}">
    {% if ug.confirmed %}
    <img src="{{ settings.STATIC_URL }}/images/check.png" alt="checked" title="Has reserved a table on Feb 9" />
    {% else %}
    <div class="blankcheck"></div>
    {% endif %}
    <a href="{{ ug.url_string }}" target="_blank"><img src="{{ settings.STATIC_URL }}images/external-link.png" alt="external link" title="{{ ug.url_string }} " /></a>
    <a href="{% url group ug.id %}" class="groupname">{{ ug.organization.name }}</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
