{% extends 'base.html' %}
{% load i18n %}

{% block title %}User Group Connect{% endblock %}
{% block content %}
<p id="intro-paragraph">
Drop in to our free relaxed one day unconference.<br />
Meet some of the many technical User Groups in Ottawa.<br />
Chat with fellow high tech workers, and students.<br />
Meet with some of the most tech-friendly local companies.<br />
</p>
<h3>Why would we do this?</h3>
<p>
  Not everyone knows about all the user groups - the user groups are doing
  very interesting stuff and sometimes complementary things that would benefit
  from knowledge of the topics in other user groups.  We want to get these
  do-ers in the same room together where they can collaborate with and learn
  from each other.
</p>
<h3>Why should you go?</h3>
<ul class="bulleted">
  <li>Meet new people</li>
  <li>Learn about technical groups</li>
  <li>Meet people you haven't seen in a while
    <ul class="bulleted">
      <li>Invite your ex-co-workers from some ex-employer to meet there, and go for lunch after</li>
    </ul>
  </li>
  <li>See new technology (or new-to-you technology)</li>
  <li>Try out some new technology</li>
  <li>Play some <a href="http://bzflag.org">bzflag</a></li>
</ul>
<h3>Why should you join a user group?</h3>
<ul class="bulleted">
  <li>Advance your career
    <ul class="bulleted">
      <li>Learn new technologies</li>
      <li>Meet people from other companies that need people to do the same thing you do now</li>
      <li>Meet people from other companies that need your skills to different things that you aren't doing now</li>
      <li>Bullets on the HR checklist - "learns stuff", "learns from others"
        <ul class="bulleted">
          <li>Cynical, but real</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Present topics
    <ul class="bulleted">
      <li>even short ones count</li>
      <li>practice brings comfort</li>
      <li>gives you amazing name recognition in the community and makes you an expert</li>
    </ul>
  </li>
</ul>

<div>
<a href="{% url whenwhere %}">When and where?</a>
</div>
{% endblock %}
