{% load i18n %}
<div id="navbar">
  <!-- p>
    Here is the default menu:
  </p -->
  <ul>
    <li>
      <!-- a href="/publicpages/new/" -->
        <div class="{{ menustatus.news }}">
          News
        </div>
      <!-- /a -->
    </li>
    <li>
      <div class="{{ menustatus.sponsor }}">
        <a href="{% url sponsorships %}">
          Sponsors
        </a>
      </div>
    </li>
    <li>
      <div class="{{ menustatus.exhibitor }}">
        <a href="{% url exhibitors %}">
          User<br />Groups
        </a>
      </div>
    </li>
    <li>
      <div class="{{ menustatus.whenwhere }}">
        <a href="{% url whenwhere %}">
          Time<br />Place
        </a>
      </div>
    </li>
    <li>
      <div class="{{ menustatus.contactus }}">
        <a href="{% url contactus %}">
          Contact<br />Us
        </a>
      </div>
    </li>
  </ul>
  <div class="clearfloat"></div>
</div>
