{% load i18n %}

<div class="sidebar">
  <h2>Sponsors</h2>
  <div class="platinum-div sponsor-div">
    <h3>Platinum</h3>
    <ul>
      {% for sponsor in sponsors %}
      {% ifequal 'platinum' sponsor.level %}
      <li>
        <img class="platinum" src="{{ settings.STATIC_URL }}{{ sponsor.organization.graphicurl }}" alt="sponsor logo" />
        <a href="http://{{ sponsor.organization.linkurl }}">{{ sponsor.organization.name }}</a>
      </li>
      {% endifequal %}
      {% endfor %}
    </ul>
  </div>
  <div class="gold-div sponsor-div">
    <h3>Gold</h3>
    <ul>
      <li>This spot is open!</li>
      <li>There are a couple of spots at this level.</li>
      {% for sponsor in sponsors %}
      {% ifequal 'gold' sponsor.level %}
      <li>
        <img class="gold" src="{{ settings.STATIC_URL }}{{ sponsor.organization.graphicurl }}" alt="sponsor logo" />
        <a href="http://{{ sponsor.organization.linkurl }}">{{ sponsor.organization.name }}</a>
      </li>
      {% endifequal %}
      {% endfor %}
    </ul>
  </div>
  <div class="silver-div sponsor-div">
    <h3>Silver</h3>
    <ul>
      {% for sponsor in sponsors %}
      {% ifequal 'silver' sponsor.level %}
      <li>
        <img class="silver" src="{{ settings.STATIC_URL }}{{ sponsor.organization.graphicurl }}" alt="sponsor logo" />
        <a href="http://{{ sponsor.organization.linkurl }}">{{ sponsor.organization.name }}</a>
      </li>
      {% endifequal %}
      {% endfor %}
      <li>
        This spot is open!  There are a few spots at this level.
      </li>
    </ul>
  </div>
  <div class="bronze-div sponsor-div">
    <h3>Bronze</h3>
    <ul>
      <li>This spot is open!</li>
      <li>There are several spots at this level.</li>
      {% for sponsor in sponsors %}
      {% ifequal 'bronze' sponsor.level %}
      <li>
        <img class="bronze" src="{{ settings.STATIC_URL }}{{ sponsor.organization.graphicurl }}" alt="sponsor logo" />
        <a href="http://{{ sponsor.organization.linkurl }}">{{ sponsor.organization.name }}</a>
      </li>
      {% endifequal %}
      {% endfor %}
    </ul>
  </div>
</div>
