{% load i18n %}

<div class="sidebar">
  <h2>Sponsors</h2>
  <div class="platinum-div sponsor-div">
    <h3>Platinum</h3>
    <ul>
      <li>
        <a href="http://www.credil.org">
          <img class="platinum" src="/static/images/CREDIL-F.jpg" alt="CREDIL logo" />
        </a>
      </li>
    </ul>
  </div>
  <div class="gold-div sponsor-div">
    <h3>Gold</h3>
    <ul>
      <li>Xelerance</li>
      <li>Roaring Penguin</li>
    </ul>
  </div>
  <div class="silver-div sponsor-div">
    <h3>Silver</h3>
    <ul>
      <li>
        <img class="silver" src="/static/images/arrow-eye-cropped.jpg" alt="arrow-eye logo" />
        <a href="http://www.arrow-eye.com/">
          Arrow-Eye Consulting
        </a>
      </li>
      <li>The Opman Company</li>
      <li>Sandelman Software Works</li>
    </ul>
  </div>
  <div class="bronze-div sponsor-div">
    <h3>Bronze</h3>
    <ul>
      <li>Pythian</li>
      <li>Wind River</li>
      <li>Eclipse</li>
      <li>IBM</li>
    </ul>
  </div>
</div>
