{% load i18n %}

<div class="sidebar">
  <h2>Sponsors</h2>
  <div class="platinum-div sponsor-div">
    <h3>Platinum</h3>
    <ul>
      <li>
        This spot is open!
      </li>
    </ul>
  </div>
  <div class="gold-div sponsor-div">
    <h3>Gold</h3>
    <ul>
      <li>This spot is open!</li>
      <li>There are a couple of spots at this level.</li>
    </ul>
  </div>
  <div class="silver-div sponsor-div">
    <h3>Silver</h3>
    <ul>
      <li>
        <img class="silver" src="/osf-static/images/arrow-eye-cropped.jpg" alt="arrow-eye logo" />
        <a href="http://www.arrow-eye.com/">
          Arrow-Eye Consulting
        </a>
      </li>
    </ul>
  </div>
  <div class="bronze-div sponsor-div">
    <h3>Bronze</h3>
    <ul>
      <li>This spot is open!</li>
      <li>There are several spots at this level.</li>
    </ul>
  </div>
</div>
