{% extends 'base.html' %}
{% load i18n %}
{% block title %}User Group Connect{% endblock %}
{% block content %}
<h3>List of confirmed sponsors</h3>
<ul class="confirmed-sponsors">
  {% for ss in sorted_sponsors.0 %}
  <li><a href="{{ ss.organization.linkurl }}"><img src="{{ ss.organization.logo.url }}" alt="sponsor logo" /></a> <a href="{{ ss.organization.linkurl }}">{{ ss.organization.name }}</a></li>
  {% endfor %}
  {% for ss in sorted_sponsors.1 %}
  <li><a href="{{ ss.organization.linkurl }}"><img src="{{ ss.organization.logo.url }}" alt="sponsor logo" /></a> <a href="{{ ss.organization.linkurl }}">{{ ss.organization.name }}</a></li>
  {% endfor %}
  {% for ss in sorted_sponsors.2 %}
  <li><a href="{{ ss.organization.linkurl }}"><img src="{{ ss.organization.logo.url }}" alt="sponsor logo" /></a> <a href="{{ ss.organization.linkurl }}">{{ ss.organization.name }}</a></li>
  {% endfor %}
  {% for ss in sorted_sponsors.3 %}
  <li><a href="{{ ss.organization.linkurl }}"><img src="{{ settings.MEDIA_URL }}{{ ss.organization.logo.url }}" alt="sponsor logo" /></a> <a href="{{ ss.organization.linkurl }}">{{ ss.organization.name }}</a></li>
  {% endfor %}
</ul>
<h3>Levels</h3>
<p>There are four levels of sponsorship for money sponsors,
and we also accept other kinds of sponsorship (please see below).</p>
<table class="sponsorship-levels">
<tr class="heading"><th>Sponsorship level</th><th>Minimum Amount</th></tr>
<tr><td class="level">Platinum</td><td class="amount">$1,500</td></tr>
<tr><td class="level">Gold</td>    <td class="amount">$750</td></tr>
<tr><td class="level">Silver</td>  <td class="amount">$300</td></tr>
<tr><td class="level">Bronze</td>  <td class="amount">$50</td></tr>
</table>
<p>We also accept sponsorships in the form of items needed to put
on the event, such as supplying:
</p>
<ul>
<li>the venue,</li>
<li>food</li>
<li>printed material</li>
<li>giveaways</li>
<li>volunteer thank-yous</li>
<li>on-site wireless networking</li>
<li>etc.</li>
</ul>
<h3>Register as a sponsor</h3>
<form class="sponsor-form" id="sponsor-form" name="sponsor-form"
      action="{% url sponsorships %}" method="post">
  {% include "_org_form.html" %}
</form>
{% endblock %}
