{% extends 'base.html' %}
{% load i18n %}
{% block title %}User Group Connect{% endblock %}
{% block content %}
<h2>Sponsorships</h2>
<h3>List of confirmed sponsors</h3>
<ul>
  {% for ss in sorted_sponsors.0 %}
  <li>{{ ss.organization.name }}</li>
  {% endfor %}
  {% for ss in sorted_sponsors.1 %}
  <li>{{ ss.organization.name }}</li>
  {% endfor %}
  {% for ss in sorted_sponsors.2 %}
  <li>{{ ss.organization.name }}</li>
  {% endfor %}
  {% for ss in sorted_sponsors.3 %}
  <li>{{ ss.organization.name }}</li>
  {% endfor %}
</ul>
<h3>Levels</h3>
<p>There are four levels of sponsorship for money sponsors,
and we also accept other kinds of sponsorship (please see below).</p>
<table class="sponsorship-levels">
<tr><th>Sponsorship level</th><th>Minimum Amount</th></tr>
<tr><td class="level">Platinum</td><td class="amount">$1,500</td></tr>
<tr><td class="level">Gold</td>    <td class="amount">$750</li></tr>
<tr><td class="level">Silver</td>  <td class="amount">$300</li></tr>
<tr><td class="level">Bronze</td>  <td class="amount">$50</li></tr>
</table>
<p>We also accept sponsorships in the form of items needed to put
on the event, such as supplying:
</p>
<ul>
<li>the venue,</li>
<li>food</li>
<li>printed material</li>
<li>giveaways</li>
<li>volunteer thank-yous</li>
<li>on-site wireless networking</li>
<li>etc.</li>
</ul>
<h3>Register as a sponsor</h3>
<form class="sponsor-form" id="sponsor-form" name="sponsor-form"
      action="{% url sponsorships %}" method="POST">
  {% csrf_token %}
  <p>{{ message }}</p>
  {{ form.non_field_errors }}
  <div class="field name">
    {{ form.name.errors }}
    {{ form.name.label_tag }}
    {{ form.name }}
  </div>
  <div class="field contactname">
    {{ form.contactname.errors }}
    {{ form.contactname.label_tag }}
    {{ form.contactname }}
  </div>
  <div class="field contactinfo">
    {{ form.contactinfo.errors }}
    {{ form.contactinfo.label_tag }}
    {{ form.contactinfo }}
  </div>
  <div class="field linkurl">
    {{ form.linkurl.errors }}
    {{ form.linkurl.label_tag }}
    {{ form.linkurl }}
  </div>
  <div class="field level">
    {{ form.level.errors }}
    {{ form.level.label_tag }}
    {{ form.level }}
  </div>
  <div class="field comment">
    {{ form.comment.errors }}
    {{ form.comment.label_tag }}
    {{ form.comment }}
  </div>
  <div class="field howhear">
    {{ form.howhear.errors }}
    {{ form.howhear.label_tag }}
    {{ form.howhear }}
  </div>
  <div class="field captcha">
    {{ form.captcha.errors }}
    {{ form.captcha.label_tag }}
    {{ form.captcha }}
  </div>
  <input type="submit" value="Submit"></input>
</form>
{% endblock %}
