{% extends 'base.html' %}
{% load i18n %}
{% block title %}User Group Connect{% endblock %}
{% block content %}
<h3>When</h3>
<p>February 9, 2013</p>
<p>General Public:  10:00 - 16:00</p>
<p>User Groups and Sponsors:  9:00 - 17:00</p>
<h3>Where</h3>
<p>Shopify</p>
<p>Shopify is in the Market area, right downtown, at 126 York Street,
half a block east of Dalhousie and the Byward Market, not far from the
Rideau Centre Transit Station.
</p>
<div class="takenote">
There are stairs and steps getting into this venue.  We regret that it is not wheelchair accessible.
</div>
<p>
<a href="http://maps.google.com/maps?q=126+York+Street%2C+Ottawa%2C+ON%2C+Canada&amp;hl=en&amp;sll=43.145815%2C-70.657206&amp;sspn=0.012791%2C0.019784&amp;hnear=126+York+St%2C+Ottawa%2C+Ottawa+Division%2C+Ontario%2C+Canada&amp;t=m&amp;z=16" rel="nofollow">http://maps.google.com/maps?q=126+York+Street,+Ottawa,+ON,+Canada&amp;hl=en&amp;sll=4...</a>
</p>
<p>
The entrance is at the back of the building, next to the 'pay' parking lot. Look for big "Shopify" sign.
</p>
{% endblock %}
