{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h2>When and Where</h2>
<h3>When</h3>
<p>Saturday, October 20, 2012</p>
<p>General Public:  10:00 - 16:00</p>
<p>User Groups and Sponsors:  9:00 - 17:00</p>
<h3>Where</h3>
<p>At the offices of Shopify:</p>
<p>
126 York St<br />
Second Floor<br />
Ottawa, ON
</p>
<iframe class="map" width="390" height="348" frameborder="0" scrolling="no" marginwidth="0" marginheight="20px" src="http://maps.google.com/maps/ms?hl=en&amp;ptab=0&amp;ie=UTF8&amp;oe=UTF8&amp;s=AARTsJpR1y7Buc6WreBdKOLdRM-OzSo8nQ&amp;msa=0&amp;msid=107573999073452164662.0004507f873d1bb28c2ee&amp;ll=45.42707,-75.689621&amp;spn=0.020722,0.027466&amp;z=14&amp;output=embed">Map</iframe>
{% endblock %}
