
body {
    margin:   0;
    padding:  0px;
    background-image:  url(../images/people-faded.jpg);
    background-repeat: no-repeat;
    font-family:  "ProximaNova", "Helvetica Neue", Helvetica, sans-serif;
} /* "ProximaNova", "Helvetica Neue" - try Googles web fonts */

div#fullpage {
}

div#page {
    width: 800px;
    margin: 30px auto;
    /* border: solid 1px red; */
    background-color: white;
    padding: 6px;
}





div.clearfloat {
    clear: both;
}



.faketext {
    background-color: pink;
}
