/*
.base {
	/* border: 1px solid #000;
	/* margin: 2em;
	margin: 0;
	/* width: 10em;
	/* padding: 5px;
	padding: 0;
}
*/

#content {
    width: 63%;
}


.map {
    margin: 0 0 20px 0;
}


table.sponsorship-levels {
    border-spacing:  2em 0;
    /* border-collapse: collapse; */
    border:  solid 1px #888888;
}

table.sponsorship-levels tr.heading {
    border-bottom:  solid 1px #888888;
}
/*
table.sponsorship-levels td {
    width:  140px;
}
*/

table.sponsorship-levels td.level {
    text-align: center;
}

table.sponsorship-levels td.amount {
    text-align: right;
}


#content li {
    list-style-type: none;
}

#content ul.bulleted li {
    list-style-type: none;
    background-image:  url(../images/C_bullet.png);
    background-repeat:  no-repeat;
    background-position: 0 3px;
    padding-left:  20px;
}


dt {
    font-weight: 800;
    float: left;
    width:  5em;
    height:  3em;
}

dd {
    margin: 0;
    padding-left:  5px;
    height:  3em;
}

