/*
.base {
	/* border: 1px solid #000;
	/* margin: 2em;
	margin: 0;
	/* width: 10em;
	/* padding: 5px;
	padding: 0;
}
*/

#content {
    width: 63%;
}


.map {
    margin: 0 0 20px 0;
}


table.sponsorship-levels {
    border-spacing:  2em 0;
    /* border-collapse: collapse; */
    border:  solid 1px #888888;
}

table.sponsorship-levels tr.heading {
    border-bottom:  solid 1px #888888;
}
/*
table.sponsorship-levels td {
    width:  140px;
}
*/

table.sponsorship-levels td.level {
    text-align: center;
}

table.sponsorship-levels td.amount {
    text-align: right;
}


#content li {
    list-style-type: none;
}

#content ul.bulleted li {
    list-style-type: none;
    background-image:  url(../images/C_bullet.png);
    background-repeat:  no-repeat;
    background-position: 0 3px;
    padding-left:  20px;
}


.contactus dt {
    font-weight: 800;
    float: left;
    width:  5em;
    height:  3em;
}

.contactus dd {
    margin: 0;
    padding-left:  5px;
    height:  3em;
}



dl.allgroups .odd {
    background-color: #FFF;
}
dl.allgroups .even {
    background-color: #D0F0FF;
}
.floatleft {
    float: left;
    display: inline;
}


.multi-select {
    vertical-align: top;
}

img {
    border: solid 0 black;
}



ul.allgroups li a:link, ul.allgroups li a:visited {
    text-decoration: none;
}

ul.allgroups li a:hover, ul.allgroups li a:active {
    text-decoration: underline;
}


ul.allgroups li a.groupname {
    margin: 0 0 0 0.5em;
}


ul.allgroups img {
    border-bottom: solid 2px #FFFFFF;
    padding-bottom: 3px;
    position: relative;
    bottom: -3px;
}

ul.allgroups img:hover {
    border-bottom: solid 2px #4489BF;
}


#filter_by_weekday_id input.submit-button {
    margin: 0 0 0 1em;
    padding:  0 1em;
    font-size: 120%;
}


h4.form-header {
    text-align: center;
}


#form_element .day-input, #form_element .week-input {
    margin: 0 0 0 2em;
    float: left;
}

.clearfloatleft {
    clear: left;
}
