div#footer {
    font-size: 70%;
    background-color:  #9BD4FF;
}

div#footer .footertext {
    text-align:  center;
}

div#footer .footer-checklinks {
    text-align: left;
    float: left;
}


div#footer .footer-righttext {
    text-align:  right;
    float: right;
}


div#footer a {
    text-decoration: none;
    color:  #00A;
}
