
div#header img {
    margin: auto;
    display: block;
    border: 0px solid black;
}

div#header h1 {
    color:  #00A;
    text-align: center;
}

div#header a:link, div#header a:hover, div#header a:visited {
    text-decoration: none;
    color:  #00A;
}
h2#title {
    font-size:     40px;
    /* text-align:    center; */
    line-height:   50px;
    margin-top:    10px;
    margin-bottom: 20px; 
    font-family:   "Century Schoolbook", "Bitstream Charter", serif;
    
}