
div#header img {
    margin: auto;
    display: block;
}

div#header h1 {
    color:  #00A;
    text-align: center;
}

div#header a:link, div#header a:hover, div#header a:visited {
    text-decoration: none;
    color:  #00A;
}

