
div#navbar {
    height: 50px;
    background-color: #DDF;
    font-weight:  700;
}

div#navbar a {
    text-decoration:  none;
}

div#navbar ul {
    list-style: none;
    display: block;
}

div#navbar ul li {
    list-style: none;
    display: inline;
}

div#navbar ul, div#navbar ul li, div#navbar ul li div, div#navbar ul li div a {
    height:  100%;
}

div#navbar ul li div {
    margin-left: 5px;
    background-color: #CCF;
    width: 120px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

div#navbar a:link, div#navbar a:visited, div#navbar a:active {
    color:  #00A;
}

#navbar ul li div:hover {
    background-color: #915;
}

#navbar ul li div:hover a {
    color: white;
}

div#navbar ul li div.inactive {
    background-color: #DDF;
    color: #00A;
}

div#navbar ul li div.selected {
    font-size: larger;
}


