
DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # or 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'osf',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

SECRET_KEY = 'a secret key'

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)
